<?xml version="1.0"?>
<config>
      <modules>
        <Yli_Rindex>
          <version>0.1.0</version>
        </Yli_Rindex>
      </modules>
      <global>
          <helpers>
            <rindex>
              <class>Yli_Rindex_Helper</class>
            </rindex>
          </helpers>
          <models>
             <rindex>
                <class>Yli_Rindex_Model</class>
                <resourceModel>rindex_resource</resourceModel>
             </rindex>
             <rindex_resource>
                <class>Yli_Rindex_Model_Resource</class>
            </rindex_resource>
          </models>
          <index>
            <lock>
                <storage>
                    <model>rindex/lock_storage_redis</model>
                </storage>
            </lock>
        </index>
      </global>
      <default>
	     <system>
    		<redis>    			
    			<index_lock_db>5</index_lock_db>
    			<index_lock_ttl>5</index_lock_ttl>
    		</redis>
    	 </system>
	  </default>
</config>